# =====================================
# Unity generated
# =====================================
Temp/
Obj/
Un
ityGenerated/
Library/
Assets/AssetStoreTools*
# =====================================
# Visual Studio / MonoDevelop generated
# =====================================
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
# =====================================
# OS generated
# =====================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ====================================
=
# Art Assets
# =====================================
*.jpg
*.jpeg
*.bmp
*.png
*.ogg
*.mp3
*.wav
*.fbx
*.FBX
*.max